
.DS_Store
MobileCXFramework/.DS_Store
MobileCXFramework/MobileCXFramework/.DS_Store
MobileCXFramework/output/.DS_Store

MobileCXFramework/QuestionProCXFramework.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MobileCXFramework/QuestionProCXFramework.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
.DS_Store
*.lock
/XCFrameworkConsumer/Pods
XCFrameworkConsumer/XCFrameworkConsumer.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
*.xcbkptlist

*.xcuserstate
/XCFrameworkConsumer/XCFrameworkConsumer.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger
*.xcbkptlist
*.xcbkptlist
